/* code van sanne: https://codepen.io/IKreike/pen/yyLPWam?editors=1100*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
	--turn1:calc((var(--code1) - 0.4) * 5);
	--turn2:calc((var(--code2) - 0.4) * 5);
	--turn3:calc((var(--code3) - 0.4) * 5);
	--turn4:calc((var(--code4) - 0.4) * 5);
}


:nth-of-type(1) {
	--i: 1;
}

:nth-of-type(2) {
	--i: 2;
}

:nth-of-type(3) {
	--i: 3;
}

:nth-of-type(4) {
	--i: 4;
}

:nth-of-type(5) {
	--i: 5;
}

:nth-of-type(6) {
	--i: 6;
}

:nth-of-type(7) {
	--i: 7;
}

:nth-of-type(8) {
	--i: 8;
}

:nth-of-type(9) {
	--i: 9;
}

:nth-of-type(10) {
	--i: 10;
}

:nth-of-type(11) {
	--i: 11;
}

:nth-of-type(12) {
	--i: 12;
}

:nth-of-type(13) {
	--i: 13;
}

:nth-of-type(14) {
	--i: 14;
}

:nth-of-type(15) {
	--i: 15;
}


/* body {
	margin:0;
	height:100dvh;
	
	display:grid;
	place-items:center;
	
	background-color:#bbb;
	font-family: tahoma, sans-serif;
} */


/* LABEL */
label:has(input[type=range]) {
	--n: 11;
	--width-slot: 3rem;

	position: relative;
	display: block;

	display: grid;
	place-content: center;
	place-items: center;

	max-width: none;

	width: calc(var(--width-slot) * 3.8);
	height: calc(var(--width-slot) * 1);

	background-color: var(--accentColor);
	background: linear-gradient(to top, var(--accentColor) 80%, var(--darkColor) 0);

	/* 	ervoor zorgen dat het er niet onderdoor uitsteekt */
	clip-path: polygon(0 -100%,
			100% -100%,
			100% 100%,
			0 100%,
			0 -100%);
}


/* INPUT */
input[type=range] {
	appearance: none;

	position: absolute;
	inset: 0;
	margin: 0;

	/* 	interesting */
	background-color: transparent;

	/* borders also get cut of by the clip path */
	/* fake an inset instead? */
	/* border-top: var(--darkColor) 1px solid; */

	font-size: inherit;
}

::-webkit-slider-runnable-track {
	appearance: none;
}

::-moz-range-track {
	appearance: none;
}

::-webkit-slider-thumb {
	appearance: none;
	width: 1em;
	height: 1em;
}

::-moz-range-thumb {
	appearance: none;
	width: 1em;
	height: 1em;
}

/* DIAL */
label>div,
label>div * {
	transform-style: preserve-3d;
}

label:nth-of-type(1)>div {
	background-color: blue;
	display: grid;
	place-content: center;
	place-items: center;

	transform:
		/* 	iets naar beneden	 */
		translateY(calc(var(--width-slot) * .28))
		/* 	iets gedraait	 */
		rotateX(15deg)
		/* 	zorgen dat hij meedraait met de slider	 */
		rotateY(calc(360deg / var(--n) * var(--turn1)));

	transition: .1s;
}

label:nth-of-type(2)>div {
	display: grid;
	place-content: center;
	place-items: center;

	transform:
		/* 	iets naar beneden	 */
		translateY(calc(var(--width-slot) * .28))
		/* 	iets gedraait	 */
		rotateX(15deg)
		/* 	zorgen dat hij meedraait met de slider	 */
		rotateY(calc(360deg / var(--n) * var(--turn2)));

	transition: .1s;
}

label:nth-of-type(3)>div {
	display: grid;
	place-content: center;
	place-items: center;

	transform:
		/* 	iets naar beneden	 */
		translateY(calc(var(--width-slot) * .28))
		/* 	iets gedraait	 */
		rotateX(15deg)
		/* 	zorgen dat hij meedraait met de slider	 */
		rotateY(calc(360deg / var(--n) * var(--turn3)));

	transition: .1s;
}

label:nth-of-type(4)>div {
	display: grid;
	place-content: center;
	place-items: center;

	transform:
		/* 	iets naar beneden	 */
		translateY(calc(var(--width-slot) * .28))
		/* 	iets gedraait	 */
		rotateX(15deg)
		/* 	zorgen dat hij meedraait met de slider	 */
		rotateY(calc(360deg / var(--n) * var(--turn4)));

	transition: .1s;
}





/* NUMMER/KANT IN DIAL */
label>div>div {
	/* this kinda works in the codepen... */
	/* background: aqua; */
	background-color: aqua;
	background: linear-gradient(to left, var(--metalColorAccent) 5%, var(--metalColor) 0 95%, var(--metalColorAccent)0);
	grid-area: 1/1;
	width: var(--width-slot);
	height: var(--width-slot);

	display: grid;
	place-content: center;

	transform:
		rotateY(calc(360deg / var(--n) * 5 + 360deg / var(--n) * var(--i))) translateZ(calc(var(--width-slot) * 1.69));

	font-size: 1.5em;
	font-weight: bold;

	/* nog steeds geen idee was dit in de eerste instantie voor was, het zorgde ervoor dat ik de dialkleur niet kon invullen dus ik heb m uitgecomment */
	/* background-color:hsl(0 0% calc( 96% - 5% * ( abs( var(--i) - 6 + var(--spinner) ) )  )   ); */
}

/* DIAL BOVEN EN ONDERKANT */
label>div aside {
	position: absolute;
	width: calc(var(--width-slot) * 3.52);
	aspect-ratio: 1;
}

label>div aside:nth-of-type(1) {
	transform:
		rotateX(90deg) translateZ(calc(var(--width-slot) * .5));
}

label>div aside:nth-of-type(2) {
	transform:
		rotateX(90deg) translateZ(calc(var(--width-slot) * -.5));
}

label>div aside::before {
	content: "";

	display: block;
	height: 100%;

	background-color: var(--metalColorSchadow);

	clip-path: var(--vlak11);
}