:root {
    --backroundColor: oklch(38% 0.0814 268.41);
    --deviceColor: oklch(84.26% 0.1381 72.53);
    --rustColor: rgb(99, 12, 12);
    --accentColor: rgba(158, 102, 11);

    --percent-shadow:15%;
}

body {
    /* background-color: rgba(240, 157, 24, 0.617); */
    background-color: var(--backroundColor);
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1fr 2fr;
    grid-template-rows: repeat5 1fr;
    height: 100vh;
    width: 100vw;

    margin: 0;
    border:0;
    box-sizing: border-box;
}

/* different parts of the machine */
section {
    /* background-color: var(--deviceColor); */
    /* look into this for straight corners: https://blog.logrocket.com/create-fancy-corners-css/ */
    /* padding: 1em; */
    /* border-bottom: 15vh var(--accentColor) solid; */
}

section:nth-of-type(1) {
    grid-column: span 3/5;
    /* grid-row: span 1/4; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

    /* making corners and the bottom shadow */
    /* workshop van sanne: https://codepen.io/IKreike/pen/pvoeRem?editors=1100 */
    /* meer tips van sanne over gradiend over elkaar: */
    /* https://codepen.io/IKreike/pen/LEYWMLm?editors=0100 */
    background-size: 50% calc((100% - var(--percent-shadow))/2), 50% calc((100% - var(--percent-shadow))/2), 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-position: left calc(100% - var(--percent-shadow)), right calc(100% - var(--percent-shadow)), left top, right top, left bottom, right bottom;
    background-image:
        linear-gradient(50deg, transparent 5vw, var(--deviceColor) 0),
        linear-gradient(-50deg, transparent 5vw, var(--deviceColor) 0),
        linear-gradient(160deg, transparent 5vw, var(--deviceColor) 0),
        linear-gradient(-160deg, transparent 5vw, var(--deviceColor) 0),
        linear-gradient(50deg, transparent 5vw, var(--accentColor)0),
        linear-gradient(-50deg, transparent 5vw, var(--accentColor)0);
}

/* display screen */
div {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--accentColor);
    border: .5em rgba(65, 48, 20) solid;
    aspect-ratio: 1/1;
    border-radius: 50%;
    max-width:fit-content;
    /* max-width: 2em; */
}

/* Power button */
input:nth-of-type(1),
label:nth-of-type(1) {
    grid-column: 3;
    grid-row: 3;
    /* add styling on the div, on the thing or whatso? use sannes switch as reference? */
}


label:nth-of-type(1) {
    background: linear-gradient(var(--rustColor) calc(100% - var(--percent-shadow)), var(--accentColor) 0);
    /* background-color: hotpink; */
    width:fit-content;
    height: fit-content;
    padding-bottom: var(--percent-shadow);
    /* padding:var(--percent-shadow); */
}

input:nth-of-type(1) {
    appearance: none;
    background: linear-gradient(var(--accentColor) 50%, var(--deviceColor) 0%);
    width:4em;
    aspect-ratio:3/4;
}

/* switch de kleuren in de "checked" state */
input:checked {
    background: linear-gradient(to bottom, var(--deviceColor) 45%, var(--accentColor)0 90%, var(--backroundColor)0);
}



/* kijkt specifiek naar of de powerknop aanstaat */
*:has(input:checked) div {
    /* if the power switch is on, flicker into view as if the screen lights up*/
    background-color: rgba(128, 255, 0, 0.221);
}