:root {
    --backroundColor:oklch(38% 0.0814 268.41);
    --deviceColor:oklch(84.26% 0.1381 72.53);
    --rustColor:rgb(99, 12, 12);
    --accentColor:rgba(158, 102, 11);
}

body{
    /* background-color: rgba(240, 157, 24, 0.617); */
    background-color: var(--backroundColor);
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1fr 2fr;
    grid-template-rows: repeat 5 1fr;
    height: 100vh;
    width: 100vw;
}

/* different parts of the machine */
section{
    background-color: var(--deviceColor);
     /* look into this for straight corners: https://blog.logrocket.com/create-fancy-corners-css/ */
     padding: 1em;
     border-bottom: 15vh var(--accentColor) solid;
}

section:nth-of-type(1){
    grid-column: span 3/5;
    /* grid-row: span 1/4; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

/* display screen */
div{
    grid-column: 2;
    grid-row: 2;
    background-color: var(--accentColor);
    border: .5em rgba(65, 48, 20) solid;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* max-width:max-content; */
}

/* Power button */
input:nth-of-type(1), label:nth-of-type(1){
    grid-column: 3;
    grid-row: 3;
    /* add styling on the div, on the thing or whatso? use sannes switch as reference? */
}

input:nth-of-type(1){
    display: none;
}

label:nth-of-type(1){
    background: linear-gradient(var(--deviceColor) 50%, var(--accentColor) 50%);
    border:.7em var(--rustColor) solid;
    border-bottom: 2em var(--backroundColor) solid;
}

input:nth-of-type(1):checked + label{
    /* background-color: rgb(205, 59, 59); */
    background: linear-gradient(var(--accentColor) 50%, var(--deviceColor) 50%);

}



/* kijkt specifiek naar of de powerknop aanstaat */
*:has(input#power:checked) div{
    /* if the power switch is on, flicker into view as if the screen lights up*/
    background-color: rgba(128, 255, 0, 0.221);
}